/node_modules
/public/hot
/public/uploads
/public/storage
/resources/layouts/app.blade.php
/resources/views/auth/login.blade.php
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
